<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suduko_Solver</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Suduko Solver</h1>
        <div class="card">
            <img src="/images/caff3146c1405df8d1a523279f5a11b5-removebg-preview.png" alt="Suduko_Solver"><br><br>
            <form method="get" action="/suduko/generate">
            <button>Generate</button>
        </form>
        </div>
    </div>
    
</body>
</html>